.nav_btn {
    -fx-background-color:#444;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
    -fx-background-radius:10;
    -fx-pref-width:150px;
    -fx-pref-height:40px;
}
.about_window{
    -fx-background-color: #f0f0f0;
    -fx-border-color: #808080;
    -fx-border-insets: 2;
    -fx-border-width: 1;
    -fx-border-style: solid;
}
.about_title{
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #0040ff;
}
.about_text{
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-padding: 10px;
}

.left_pane {
    -fx-background-color:#f88;
    -fx-pref-width:150px;
    -fx-pref-height:600px;
}
.center_pane{
    -fx-background-color: #eccbcb;
}

.bottom_pane {
    -fx-background-color:#f88;
}
.profile_pic{
    -fx-stroke: #dedddc;
    -fx-stroke-width: 2;
}